body {
    font-family:  Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    
}

h1{
    text-align: center;
    color: #333;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"]{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"]{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    
}

.delete-btn{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
}

.delete-btn:hover{
    background-color: #c82333;
}

@media (max-width: 600px){
    .container{
        width: 90%;
    }
    
}
